.emergency {
  background-color: #eee;
  height: 100vh;
  padding: 2em 0;

  @media (width <= 1300px) {
    height: 120vh;
  }

  @media (width <= 990px) {
    height: 130vh;
  }

  @media (width <= 768px) {
    height: 145vh;
  }

  @media (width <= 400px) {
    height: 160vh;
  }

  h2 {
    font-size: 5rem;
    color: #222831;

    @media (width <= 1250px) {
      font-size: 3.5rem;
    }

    @media (width <= 500px) {
      font-size: 3rem;
    }
  }

  .emergency-ins {
    overflow: hidden;
    background-color: #e90909;
    color: #eee;
    margin: 2em 0;

    .emergency-move {
      display: flex;
      gap: 100px;
      animation: moving-bar linear 30s infinite;

      p {
        font-size: 1.8rem;
        font-weight: 700;
        flex-shrink: 0;
        width: 100%;
        padding: 10px;

        @media (width <= 1250px) {
          font-size: 1.3rem;
        }

        @media (width <= 915px) {
          font-size: 1.1rem;
        }

        @media (width <= 780px) {
          font-size: 1rem;
        }

        // @media (width <= 1050px) {
        //   font-size: 1.3rem;
        // }
      }
    }
  }

  .emergency-btn {
    transition: 0.3s ease-in;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 0.4em 2em;
    background-color: #222831;
    color: #eeeeee;
    border: 0;
    border-radius: 100vmax;

    &:active {
      transform: scale(0.97);
    }
  }

  .emergency-form {
    transition: 0.17s ease-in-out;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
    background-color: #eee;
    color: #222831;
    border-radius: 2em;
    border: 1px solid #666;
    width: 45vw;
    padding: 1.2em 1em 1.2em;

    @media (600px < width <= 1200px) {
      width: 60vw;
    }

    @media (width <= 600px) {
      width: 100vw;
    }

    &.emergency-form--hide {
      transform: translate(-50%, -200%);
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3em;

      legend {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;
        font-weight: 700;

        .emergency-form-close {
          cursor: pointer;
        }
      }

      .emergency-form-inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3.4em;

        div {
          display: flex;
          justify-content: space-evenly;

          @media (width < 990px) {
            flex-direction: column;
            gap: 0.5em;
          }

          label {
            font-size: 1.6rem;
          }

          input {
            transition: 0.2s ease;
            padding-left: 0.3em;
            padding-block: 0.4em;
            border-radius: 0.5em;
            border: 1px solid #222831;
            font-size: 1.12rem;
            color: #393e46;
            caret-color: #222831;

            &::placeholder {
              font-size: 0.9rem;
            }

            &:focus {
              outline: none;
              border-bottom: 2px solid #222831;
            }

            &#name {
              min-width: 200px;
            }
          }
        }
      }

      .emergency-form-set {
        transition: 0.3s ease-in-out;
        cursor: pointer;
        background-color: #222831;
        color: #eee;
        border: 1px solid #222831;
        font-size: 1.3rem;
        border-radius: 0.6em;
        padding: 0.3em 1em;

        &:is(:active, :hover) {
          background-color: #eee;
          color: #222831;
        }

        &:active {
          transform: scale(0.97);
        }
      }
    }
  }

  .emergency-details {
    position: relative;
    border: 2px solid #222831;
    border-radius: 1.2em;
    width: 40vw;
    margin: 0 auto;
    margin-top: 2em;
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    overflow: hidden;

    @media (width <= 1200px) {
      width: 60vw;
    }

    @media (width <= 768px) {
      width: 80vw;
    }

    @media (width <= 500px) {
      width: 90vw;
    }

    &::before {
      content: '';
      transition: 0.5s cubic-bezier(0.6, 0, 0.2, 0);
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background-color: #222831;
    }

    &::after {
      content: '';
      transition: 0.5s cubic-bezier(0.6, 0, 0.2, 0);
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%);
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background-color: #222831;
    }

    h2 {
      font-size: 4rem;
      transition: 0.5s ease-out;
      margin-bottom: 1em;

      @media (width <= 400px) {
        font-size: 3rem;
      }
    }

    .personal-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5em;

      .emergency-name {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          font-size: 2rem;
        }

        p {
          font-size: 1.6rem;
        }
      }

      .emergency-phone {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          font-size: 2rem;
        }

        p {
          font-size: 1.6rem;
        }
      }
    }
  }

  .overlay {
    position: absolute;
    inset: 0;
    height: 114.5%;
    background-color: rgba(0, 0, 0, 0.7);

    &.overlay--hide {
      opacity: 0;
      display: none;
    }
  }
}

@keyframes moving-bar {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}
