footer {
  font-size: 1.3rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    .footer-links {
      padding: 1em;
      background-color: #222831;
      color: #eee;
      display: flex;
      justify-content: center;
      gap: 2em;
      a {
        color: inherit;
        padding: 0.2rem 1rem;
      }
    }

    .footer-copyright {
      padding: 0.5em;
      background-color: #eee;
      color: #222831;
      display: flex;
      justify-content: space-around;
      font-size: 1.5rem;

      a {
        font-weight: 600;
        color: #222831;
      }
    }
  }
}
