* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #2c3333;
  background-color: #eeeeee;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.faq {
  background-position: 50%;
  height: 19.0625rem;
}

/* login */
.login {
  height: 80vh;
}
.login-container {
  padding: 3% 0;
  box-shadow: 0 0 10px 10px #bfb9b9;
  margin: 3%;
  border-radius: 5%;
}
.preloader {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader img {
  width: 100%;
}

::-webkit-scrollbar {
  width: 13px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vmax;
  background-color: #222831;
}
